<div class="backColour span12" >
  <div class="row">

   <div class="span12">
  <h1 class="text1"> Give books and get books you want</h1>
   </div>


    </div>
  <div class="row">
    <div class="span12">
      <h1 class="text1"> (Its a option to use your old books.)</h1>
    </div>

  </div>
  <div class="row">
    <div class="span12">
  <%= image_tag("books.jpg",:class =>"picture1") %>
    </div>
  </div>

  <div class="row">

    <div class="span6">
      <div>
        <%= link_to "Send us your book and gain points",'welcome/register',:class=>"btn btn-large btn-primary btn-block" %>
      </div>
    </div>
    <div class="span6">
       <div>
         <%= link_to "Receive books for your gained point",'store',:class=>"btn btn-large btn-primary btn-block" %>
       </div>
    </div>



</div>

</div>