/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.backColour {
    background-color: #e5e4d2;
}
.text1 {
    font-family: Leckerli One, Arial, serif;
    font-weight: 400;
    text-align: center;
    /*color: #bf7550;*/
    color:#0198dd;

}
.picture1 {
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.head_colour{
    color:#0198dd;
    font-size:30px
}

.menuColour {
    color:#0198dd;
    font-size: 25px;


}
.makeDown {
    padding-top: 6px;
    padding-left: 200px;
}